<section class="single-event-section">
  <ol *ngIf="eventToShow">
    <li class="home-event__name">
      <h6>
        Nombre del Evento
        <img src="../../assets/icons/images/event-name.png" alt="Event name" />
      </h6>
      <span>{{ eventToShow.name }}</span>
    </li>
    <li *ngIf="userOwner" class="home-event__creator">
      <h6>
        Creador
        <img src="../../assets/icons/images/user.png" alt="User name" />
      </h6>
      <span
        ><a
          [routerLink]="['/single-user', userOwner.id]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          {{ userOwner.firstName }} {{ userOwner.lastName }}
        </a></span
      >
    </li>
    <li class="home-event__capacity">
      <h6>
        Capacidad del Evento
        <img
          src="../../assets/icons/images/event-capacity.png"
          alt="Event capacity"
        />
      </h6>
      <span>
        {{ eventToShow.capacity }}
      </span>
    </li>
    <li class="home-event__type">
      <h6>
        Tipo del evento
        <img src="../../assets/icons/images/type-event.png" alt="Event type" />
      </h6>
      <span>
        {{ eventToShow.type }}
      </span>
    </li>
    <li class="home-event__description">
      <h6>
        Descripción del evento
        <img
          src="../../assets/icons/images/event-description.png"
          alt="Event description"
        />
      </h6>
      <span>
        {{ eventToShow.description }}
      </span>
    </li>
    <li *ngIf="isCurrentUserCreator">
      <button (click)="alertConfirmation()">Eliminar</button>
    </li>
    <li *ngIf="isCurrentUserCreator">
      <button (click)="navigateToUpdateEvent()">Actualizar</button>
    </li>
    <li>
      <button
        (click)="alertParticipateConfirmation()"
        [disabled]="!isAbleToJoin"
      >
        {{ joinButtonText }}
      </button>
    </li>
  </ol>
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
</section>
