<section class="single-event-section">
  <ol *ngIf="eventToShow">
    <li class="home-event__name">
      <h6>Nombre del Evento</h6>
      <span>{{ eventToShow.name }}</span>
    </li>
    <li class="home-event__capacity">
      <h6>Capacidad del Evento</h6>
      <span>
        {{ eventToShow.capacity }}
      </span>
    </li>
    <li class="home-event__type">
      <h6>Tipo del evento</h6>
      <span>
        {{ eventToShow.type }}
      </span>
    </li>
    <li class="home-event__description">
      <h6>Descripción del evento</h6>
      <span>
        {{ eventToShow.description }}
      </span>
    </li>
    <li>
      <button (click)="deleteEvent()">Eliminar Evento</button>
    </li>
    <li>
      <button (click)="navigateToUpdateEvent()">Actualizar Evento</button>
    </li>
  </ol>
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
</section>
