<nav class="nav-main">
  <header>
    <img
      src="../../assets/icons/images/eventMasterIcon.png"
      alt="Event master icon"
    />
  </header>
  <article>
    <ol *ngIf="showNavigation">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/create-event"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Crear Evento</a
        >
      </li>
    </ol>
  </article>
</nav>
