<nav class="nav-main">
  <header>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img
        src="../../assets/icons/images/eventMasterIcon.png"
        alt="Event master icon"
      />
    </a>
  </header>
  <article>
    <ol *ngIf="showNavigation">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><h3>Home</h3></a
        >
      </li>
      <li>
        <a
          routerLink="/create-event"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><h3>Crear Evento</h3></a
        >
      </li>
      <li>
        <button (click)="alertConfirmation()" class="hover-link__button">
          Cerrar Sesión
        </button>
      </li>
    </ol>
  </article>
</nav>
